<main>
<<<<<<< HEAD
  {#each articles}
  <article class="article">
    <h3>{{ title }}</h3>
    <p>{{ author }}</p>
    <div>{{ description }}</div>
    <a href="{{url}}">{{url}}</a>
  </article>
=======
  {{#each articles}}
    <div class="article">
      <h3>{{ title }}</h3>
      <span>{{ author }}</span>
      <p>{{ description }}</p>
    </div>
  {{/each}}
>>>>>>> 8c0a0f9a6249997ae46beca7017ea97374c850c2
</main>
